.social-feed-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.sharing-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.shared-posts-section,
.expanded-post-section {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.shared-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shared-preview {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.shared-preview:hover {
    transform: scale(1.02);
}

.small-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.expand-btn {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.expand-btn:hover {
    background-color: #218838;
}

.expanded-view {
   
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.close-btn {
    margin-top: 5%;
    padding: 3% 10%;

    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #c82333;
}
