.ecommerce-container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    height: 100vh;

}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #333; /* Dark background */
    color: white;
}

.ecom-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-bar {
    flex: 1;
    max-width: 400px;
    padding: 8px;
    padding-left: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: left;
}

.ecom-icons {
    display: flex;
    gap: 15px;
}

.icon {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
}

.ecom-content {
    flex-grow: 1;
    padding: 10px;
    padding-top: 2%;
    width:80vw;
    box-shadow: none;
    color:#333;
    backdrop-filter: none;
   
}


.search-form {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 151px;
    font-size: 16px;
    width: 250px;
}

.search-button {
    margin-left: 8px;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #388E3C;
}

.search-results-container {
    padding: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
