.shop-container{
    display: flex;
    flex-direction: column;
}

.category-title{
    margin-top: 20px;
    font-size: 1.5rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 20%;
}

.product-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    align-items: center;
    width:25%;
    background: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: transform 0.2s;

}

.product-card:hover{
    transform: scale(1.03)
}

.product-image{
    width: 80%;
    margin-bottom: 5%;
    border-radius: 5%;
}

.Cart{
    width:70%;
    height:5vh;
    background: transparent;
    border: solid;
    border-color: green;
    color: green;
    margin-bottom: 5%;
    cursor: pointer;
}

.product-grid{
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    gap:20px;
    margin-left: 20%;
}

.quantity-select {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

/* Ensuring label and select are in one line */
.input-quantity {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between label and select */
    margin-top: 5px;
}